body {
  background-color: #C6C7C4;
  color: #ffffff;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;

}

#outlined-text {

-webkit-text-stroke: 1px #A2999E;

text-stroke: 1px #746d70;

font-size: 35px;

 animation: glow 1s ease-in-out infinite alternate; 

}

@keyframes glow {
    from {
        
        text-shadow: 0 0 1px #fff, 0 0 2px #dddddd, 0 0 3px #8f8f8f, 0 0 4px #5e5e5e, 0 0 5px #303030, 0 0 6px #161616, 0 0 7px #000000;
    }
    to {
        
        text-shadow: 0 0 2px #000000, 0 0 3px #161616, 0 0 4px #303030, 0 0 5px #5e5e5e, 0 0 6px #8f8f8f, 0 0 7px #dddddd, 0 0 8px #fff;
    }
}

#outlined-text2 {

-webkit-text-stroke: 1px #ffffff;

text-stroke: 1px #746d70;

font-size: 20px;


}