body {
  background-color: #C6C7C4;
  color: #ffffff;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;

}

#outlined-text {

-webkit-text-stroke: 1px #A2999E;

text-stroke: 1px #746d70;

font-size: 35px;

 animation: glow 1s ease-in-out infinite alternate; 

}

@keyframes glow {
    from {
        
        text-shadow: 0 0 3px #fff, 0 0 4px #ffdc73, 0 0 5px #ffcf40, 0 0 6px #ffbf00, 0 0 7px #bf9b30, 0 0 8px #a67c00, 0 0 9px #946f01;
    }
    to {
        
        text-shadow: 0 0 0.1px #fff, 0 0 1px #ffdc73, 0 0 2px #ffcf40, 0 0 3px #ffbf00, 0 0 4px #bf9b30, 0 0 5px #a67c00, 0 0 6px #946f01;
    }
}

#outlined-text2 {

-webkit-text-stroke: 1px #ffffff;

text-stroke: 1px #746d70;

font-size: 20px;


}